<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :email %>
    <%= form.email_field :email %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>

  <div class="field">
    <%= form.label :new_files %>
    <%= form.file_field :new_files, multiple: true %>
  </div>

  <% if !user.files.empty? then %>
    <%= form.label :existing_files, "Existing Files (check to delete)" %>
    <% user.files.each do |file| %>
      <div class="field">
        <%= file.blob.filename %>
        <%= form.check_box "existing_files[#{file.id}]" %>
      </div>
    <% end %>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
