<p id="notice"><%= notice %></p>

<h1>Show Buyer</h1>

<h3>Data</h3>

<div class="field">
  <label>Name</label>
  <span>
    <% if @buyer.name.present? %>
      <%= @buyer.name %>
    <% else %>
      <i>None</i>
    <% end %>
  </span>
</div>

<h3>Associations</h3>

<div class="field">
  <%= link_to_submissions "Submissions", :buyer => @buyer %>
</div>

<div class="field">
  <%= link_to_contracts "Contracts", :buyer => @buyer %>
</div>

<h3>Files</h3>

<% @buyer.files.each do |file| %>
  <div>
    <% if file.representable? %>
      <%= image_tag file.representation(resize_to_limit: [100, 100]) %>
    <% else %>
      <%= link_to rails_blob_path(file, disposition: "attachment") do %>
        <%= file.blob.filename %>
      <% end %>
    <% end %>
  </div>
<% end %>

<h3>Metadata</h3>

<div class="field">
  <label>ID</label>
  <%= id_to_s @buyer.id %>
</div>

<div class="field">
  <label>Owner</label>
  <%= link_to_user @buyer.user %>
</div>

<div class="field">
  <label>Created At</label>
  <span><%= @buyer.created_at %></span>
</div>

<div class="field">
  <label>Last Updated At</label>
  <span><%= @buyer.updated_at %></span>
</div>

<hr />

<%= link_to 'Edit', edit_buyer_path(@buyer) %> |
<%= link_to 'All buyers', buyers_path %>
