<% template_index = SecureRandom.hex %>
<%= render Forms::NestedRecordArrayComponent.new(
  form: @form,
  key: :contracts,
  label: "Contracts",
  template_index: template_index,
  excluded_fields: @excluded_fields
) do |c| %>
  <% c.template do %>
    <% @form.fields_for :contracts, Contract.new, child_index: template_index do |contract_form| %>
      <%= render Misc::CardComponent.new do %>
        <div class="p-4 space-y-4">
          <%= render Forms::ContractFieldsetComponent.new(
            form: contract_form,
            contract: Contract.new,
            current_user: @current_user,
            excluded_fields: @excluded_nested_fields
          ) %>
        </div>
        <%= contract_form.hidden_field(:user_id, { value: @current_user.id }) %>
      <% end %>
    <% end %>
  <% end %>
  <% @contracts.each do |contract| %>
    <% c.existing_record do %>
      <% @form.fields_for :contracts, contract do |contract_form| %>
        <%= render Misc::CardComponent.new do %>
          <div class="p-4 space-y-4">
            <%= render Forms::ContractFieldsetComponent.new(
              form: contract_form,
              contract: contract,
              current_user: @current_user,
              excluded_fields: @excluded_nested_fields
            ) %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>