<%= form_with(
      url: send_password_recovery_email_path,
      class: "tracking-wider leading-tight text-gray-800 space-y-4"
    ) do |form| %>
  <%= render Inputs::LabeledFieldComponent.new(form: form, key: :email, label: "Email") do %>
    <%= render Inputs::EmailFieldComponent.new(
      form: form,
      name: :email,
      required: true,
      value: session.dig("auth_fields", "email")
    ) %>
  <% end %>
  <%= render Buttons::PrimaryButtonComponent.new(form: form).with_content("Submit") %>
  <% if flash[:error] %>
    <div class="text-red-500 text-sm mt-4"><%= flash[:error] %></div>
  <% end %>
  <% if flash[:success] %>
    <div class="text-green-500 text-sm mt-4"><%= flash[:success] %></div>
  <% end %>
<% end %>
