<%= form_with(
      url: password_recovery_complete_path,
      class: "tracking-wider leading-tight text-gray-800 space-y-4"
    ) do |form| %>
  <%= hidden_field_tag :token, @token %>
  <%= render Inputs::LabeledFieldComponent.new(form: form, key: :new_password, label: "New Password") do %>
    <%= render Inputs::PasswordFieldComponent.new(
      form: form,
      name: :new_password,
      required: true,
    ) %>
  <% end %>
  <%= render Inputs::LabeledFieldComponent.new(form: form, key: :confirm_new_password, label: "Confirm New Password") do %>
    <%= render Inputs::PasswordFieldComponent.new(
      form: form,
      name: :confirm_new_password,
      required: true,
    ) %>
  <% end %>
  <%= render Buttons::PrimaryButtonComponent.new(form: form).with_content("Submit") %>
  <% if flash[:error] %>
    <div class="text-red-500 text-sm mt-4"><%= flash[:error] %></div>
  <% end %>
<% end %>
