<% template_index = SecureRandom.hex %>
<%= render Forms::NestedRecordArrayComponent.new(
  form: @form,
  key: :submissions,
  label: "Submissions",
  excluded_fields: @excluded_fields,
  template_index: template_index
) do |c| %>
  <% c.template do %>
    <% @form.fields_for :submissions, Submission.new, child_index: template_index do |submission_form| %>
      <% render Misc::CardComponent.new do %>
        <div class="p-4 space-y-4">
          <%= render Forms::SubmissionFieldsetComponent.new(
            form: submission_form,
            submission: Submission.new,
            current_user: @current_user,
            excluded_fields: @excluded_nested_fields
          ) %>
        </div>
        <%= submission_form.hidden_field(:user_id, { value: @current_user.id }) %>
      <% end %>
    <% end %>
  <% end %>
  <% @submissions.each do |submission| %>
    <% c.existing_record do %>
      <%= @form.fields_for :submissions, submission do |submission_form| %>
        <%= render Misc::CardComponent.new do %>
          <div class="space-y-4">
            <%= render Forms::SubmissionFieldsetComponent.new(
              form: submission_form,
              submission: submission,
              current_user: @current_user,
              excluded_fields: @excluded_nested_fields
            ) %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>